.basegame-container{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    
}

.basegame-container:focus{
    outline: none;
}
.game-titlebar{
    position: absolute;
    left: 300px;
    z-index: 2;
}

.thing{
    position: absolute;
    left: 400px;
    top:0;
    width: 5px;
    height: 5px;
    background-color: rgb(201, 252, 247);
    z-index: 0;
}
.ship{
    position: absolute;
    top:50px;
    left:325px;
    z-index: 3;
}
img {
    width: 150px;
}