
.basegame-container{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    background: linear-gradient(0deg, #776D9C 0%, #260C44 60%);
    overflow: hidden;
    
}

.basegame-container:focus{
    outline: none;
}
.game-titlebar{
    position: absolute;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border-top: 2px solid rgb(209, 209, 209);
    border-bottom:2px solid rgb(209, 209, 209);
    text-shadow: 0px 0px 30px rgb(160, 228, 255);
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: black;
    top:200px;
    width: 100%;
    z-index: 9;
}

.thing{
    position: absolute;
    left: 398px;
    top:70px;
    width: 5px;
    height: 5px;
    background-color: rgb(201, 252, 247);
    z-index: 0;
}
.ship{
    position: absolute;
    top:50px;
    left:350px;
    z-index: 3;
}
.city-front{
    position: absolute;
    background-image: url("./images/city00.png");
    background-repeat: no-repeat;
    
    bottom: -20px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    z-index: 2;

}

.city-L1{
    position: absolute;
    bottom: -70px;
    left: 190px;
    background-image: url("./images/city01.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    transform: scale(2);
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    z-index: 1;
}

.ship img {
    width: 100px;
}

.explosion{
    position: absolute;
    height: 500px;
    width: 50px;
    background-color: white;
    left:375px;
    bottom:0px;
    transform: scale(2);
    z-index: 4;
}