
.basegame-container{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background-color: darkslategrey;
    
}

.basegame-container:focus{
    outline: none;
}
.game-titlebar{
    position: absolute;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border-top: 2px solid rgb(209, 209, 209);
    border-bottom:2px solid rgb(209, 209, 209);
    text-shadow: 0px 0px 30px rgb(160, 228, 255);
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: black;
    top:200px;
    width: 100%;
    z-index: 2;
}

.thing{
    position: absolute;
    left: 400px;
    top:70px;
    width: 5px;
    height: 5px;
    background-color: rgb(201, 252, 247);
    z-index: 0;
}
.ship{
    position: absolute;
    top:50px;
    left:325px;
    z-index: 3;
}
img {
    width: 150px;
}

