.StartScreen{
    position: relative;
    font-family: 'Press Start 2P';
    width: 800px;
    height: 550px;
    background-color: darkolivegreen;
    background-image: url("./images/startscreen.png");
}

.ClickHere{
    font-size: 24px;
    position: absolute;
    bottom: 40px;
    left: 190px;
    animation: blinker 1s linear infinite;
    cursor: pointer;
}
.mute img{
    position:absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    filter: invert() opacity(50%);;
    
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    cursor: pointer;

}
.mute img:hover{
  cursor: pointer;
}

.notmute img{
  position:absolute;
  bottom: 20px;
  right: 20px;
  width: 30px;
  filter: invert() opacity(100%);;
  
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  cursor: pointer;
}

.playAudio{

}

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }