@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.EndGame{
    position: absolute;
    font-family: 'Press Start 2P';
    text-shadow: 0px 3px 7px black;
    padding: 10px;
    font-size: 18px;
    line-height: 200%;
    left: 200px;
    top: 140px;
    background-color: rgb(46, 39, 39);
    width: 400px;
    min-height: 200px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
    z-index: 12;
}

.EndGame input{
    font-size: 26px;
    /* padding-top: 4px;
    padding-bottom: 4px; */
    font-family: 'VT323', monospace;
    text-align: center;
    width: 100%;
    background-color: black;
    border: 2px solid white;
    color: white;
}
.EndGame input:focus{
    outline: none;;
}
.EndGame button{
    font-size: larger;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'VT323', monospace;
}