.KEYS{
    position: absolute;
    z-index: 5;
    width: 340px;
    right: 224px;
    bottom:50px;
    /* background-color: rgba(41, 37, 37, 0.568); */
    /* border: 2px solid whitesmoke; */
    padding: 20px;
    font-family: 'Press Start 2P';
    font-size: 16px;

}

.KEYS p{
    margin-bottom: 10px;
    margin-top: 0px;
}
.KEYS:focus{
    outline: none;
}

.holder{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.KEY{
    padding: 20px;
    border: 2px solid whitesmoke;
    background-color: rgba(20, 20, 20, 0.438);
}
.blink1{
    position: absolute;
    bottom: 20px;
    left:103px;
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 6px 3px white;
    background-color: rgba(255,255,255,0.3);
    z-index: 2;
    animation: blinker 0.3s linear infinite;
    animation-delay: 0.15s;
}
.blink2{
    position: absolute;
    bottom: 20px;
    right: 102px;
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 6px 3px white;
    background-color: rgba(255,255,255,0.3);
    z-index: 2;
    animation: blinker 0.3s linear infinite;
}

@keyframes keyblinker {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
      }
  }