.postgame-menu{
    position: absolute;
    padding: 20px;
    bottom: 0px;
    width: 800px;
    border-top: 2px solid white;
    color: rgb(117, 117, 117);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Press Start 2P';
    font-size: 18px;
    background-color: rgb(46, 39, 39);

    z-index: 12;
}

.post-select:hover{
    color: white;
    cursor: pointer;
}