.timer{
    font-family: 'Press Start 2P';
    font-size: 26px;
    position: absolute;
    bottom:188px;
    left:246px;
    transform: skew(-14deg);
    text-shadow: 2px 2px black;


    z-index: 18;

}